{% load static %}
<html>
    <head>
        <title>Food Reviews</title>
        <link rel="stylesheet" type="text/css" href="{% static 'foodreviews/style.css' %}"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>        
        <div class="page-header">
                <div class="container">
            <h1 style=margin-top:-16px><img src="/media/icons/cnh_logo_trans.png" style=height:110px;width:110px> <a href="/foodreviews">Food Reviews</a></h1>
        </div>
    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>